
$font: 'Conthrax'
$fontURL: '../fonts/Conthrax/'


// FONT 1 ============================
@font-face
	font-family: $font
	font-display: swap
	font-weight: 400
	font-style: normal
	// src: url($fontURL + 'Conthrax-Regular.ttf') format("truetype")
	src: url($fontURL + 'Conthrax.woff2') format("woff2")
