// currentColor


$white: #ffffff
// var(--white, $white)
// filter: brightness(0) invert(100%)

$black: #000000
// var(--black, $black)
// filter: brightness(0)



$light: var(--white, $white)
$dark: var(--black, $black)

$main: #8393d6
// filter: invert(12%) sepia(29%) saturate(7467%) hue-rotate(322deg) brightness(93%) contrast(88%)

$accent: #1f3797
$title: #fff
$text: #fff
$bgc: #000
$bdc: #666
$tr: transparent

